*{
    color:#474b42;
    font-family:PT Sans,Tahoma,YuMincho;
}

/* header */
#company_name{
    font-family:PT Sans,Tahoma;
    font-weight:bolder;
}
.nav-link{
    color:#474b42;
}
/* header end */

/* page_title */
#slideshow {
    position: relative;
    width:  100vw; /* 画像の横幅に合わせて記述 */
    height: 92vh; /* 画像の高さに合わせて記述 */
    margin-bottom: 120px;
 }
 #slideshow img {
    position: absolute;
    top: 0;
    left:0;
    z-index: 8;
    opacity: 0.0;
    margin-bottom:120px;
    width:  100vw; /* 画像の横幅に合わせて記述 */
    height: 92vh; 
 }
 #slideshow img.active {
    z-index: 10;
    opacity: 1.0;
 }
 #slideshow img.last-active {
    z-index: 9;
 }

/* page_title end */

/* introduction */
.fdb-block{
    margin-bottom:70px;
}
.lead{
    font-size:15px;
    
}
/* introduction end */

/* blog */
.col-6 .img-fluid {
    height: 125px;
}

.blog {
    margin-top: 100px;
    margin-bottom: 150px;
}

hr {
    height:0px;
    border-radius: 2px;
    border: 2px solid hsl(0, 0%, 60%);
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
}
/* blog end */

/* info & form */
.news hr, .contact hr {
   width: 100%;
}
/* info & form end */

/* footer */
.footer {
    margin-top: 100px;
    margin-bottom: 0;
}

.footer .nav-link {
    color: aliceblue;
}

.footer .h5 {
    color: aliceblue;
}
/* footer end */


/* responsive */

/*小型PC*/
@media screen and (max-width: 1280px) {
    
  }
  
  /*タブレット*/
  @media screen and (max-width: 960px) {
    body {
      min-width: 850px;
    }
    #slideshow {
      width: 100vw;
      height: 65%;
    }
    #slideshow img {
      width: 100vw;
      height: 75%;
    }  
}
  
  /*スマートフォン*/
  @media screen and (max-width: 480px) {
    body {
      min-width: 375px;
      max-width: 480px;
    }
    #slideshow {
      width: 100vw;
      height: 55%;
    }
    #slideshow img {
      width: 100vw;
      height: 60%;
    }
}
  
/* responsive end */